@charset "UTF-8";

    .btn1, .btn2{
    float:right;
    
    width:50px;

    background-color: #7571f9;

    border: none;

    color:#fff;

	border-radius:3px;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    font-size: 15px;

    margin: 4px;

    cursor: pointer;
    
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }
    .btn3, .btn4{
    	float:right;
    
    width:50px;

    background-color: #7571f9;

    border: none;

    color:#fff;

	border-radius:3px;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    font-size: 15px;

    margin: 4px;

    cursor: pointer;
    
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }
    .btn5, .btn6{
    float:right;
    
    width:50px;

    background-color: #7571f9;

    border: none;

    color:#fff;

	border-radius:3px;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    font-size: 15px;

    margin: 4px;

    cursor: pointer;
    
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }
    .btn6:hover{
    background-color: white;
    transform: translateY(-7px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }
    input {
    	margin-left:15px;
    	margin-right:15px;
    	
    }
    h2 {
    	margin-top:10px;
    	font-weight:bold;
    }
    .insertbox{
    	width:90%;
    	margin:50px;
    	padding: 50px;
    	background:#ffffff;
    	border-radius:5px;
    	box-shadow:1px 1px 1px 2px #dddddd;
    	
    	
    }
    table{
    	width:100%;
    	/* background:#f4f4f4; */
    	backgound:#F3F3F9;
    	border: 1px solid #dddddd;
    }
    
    
    
    table th{
    	background: rgb(117, 113, 249, 0.5);
      	color:rgba(0, 0, 0, 1);
    	font-size: 13pt;
    	text-align:center;
    	
    }
    
    
    table, tr, th, td{
    	border:1px solid gray;
    }
   
    select {
    	height:28px;
    	margin-left: 15px;
    }
    .insertemp3{
    width:100%;
    }
    #sample4_postcode{
    	width:80px;
    }
    #sample4_roadAddress{
    	width:190px;
    }
    #sample4_jibunAddress{
    	width:200px;
    }
    #sample4_detailAddress{
    	width:430px;
    }
    #sample4_extraAddress{
    	width:220px;
    }
    input[name=adtel1]{
    	width:100px;
    }
    input[name=adtel2]{
    	width:100px;
    }
    input[name=adtel3]{
    	width:100px;
    }
    input[name=phone]{
    	width:100px;
    	
    }
    input[name=phone2]{
    	width:100px;
    }
    input[name=phone3]{
    	width:100px;
    }
    .insertemp2{
    	font-weight:bold;
    	width:100%;
    	background:#f4f4f4;
    }
   input[type=text]{
    	width:100px;
    	
    	
    } 
    #emppwd, #emppwd2{
    	width:100px;
    }
    .insert{
    	width:100%;
    	text-align:center;
    	margin-top: 15px;
    }
    #sub, #re{
    width:100px;

    background-color: #7571f9;

    border: none;

    color:#fff;

	border-radius:3px;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    font-size: 15px;

    margin: 4px;

    cursor: pointer;
    }
